@page
@model Bordspellen.Pages.GamesModel
@{
    ViewData["Title"] = "Spellen";
}

<div class="text-center">
    <h1 class="display-4">Soorten bordspellen</h1>
    <p>Pagina voor de verschillende bordspellen</p>
</div>
