@page
@model Bordspellen.Pages.Shared.ProfileModel
@{
    ViewData["Title"] = "Profiel";
}
<h1>@ViewData["Title"]</h1>

<p>Pagina voor je profiel, en ratings over jou van hoe vaak je bent komen opdagen. en hier kan je jouw spelavonden zien (die je hebt gemaakt en waaraan je deelneemt US_01 & _09</p>
